name: Main Branch

on:
  push:
     branches: [ main ]

jobs:

 
  create-release-notes:
    runs-on: ubuntu-latest
    steps:
        - name: Check out the repo
          uses: actions/checkout@v2
          with:
            fetch-depth: 0
        - name: Create Release Notes
          uses: docker://decathlon/release-notes-generator-action:2.0.1
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            OUTPUT_FOLDER: temp_release_notes
            USE_MILESTONE_TITLE: "true"